<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body>
        <nav>
            <a href="/store/new">Add a New Product</a>
        </nav>
		<h1>Products index page</h1>
        <div>
			<% products.forEach(product => { %>
                <div>
                    <a href="/books/<%=product._id; %>"> <%=product.name; %> </a>
                </div>
			<% }) %>
    </div>
	</body>
</html>