<!DOCTYPE html>
<html lang="en">
<!-- Head Element -->
<%- include('./partials/head.ejs')%>
	<body>
        <div class="top">
		<h1>New Product</h1>
    </div>
    <div class="form">
		<form action="/store" method="POST">
			<div class="inputs">
			<label for="name">Name: </label>
			<input type="text" name="name" placeholder="NAME"/><br />
		</div>
			<div class="inputs">
			<label for="img">Image Link: </label>
			<input type="text" name="img" placeholder="IMAGE"/><br />
		</div>
			<div class="inputs">
			<label for="description">Description: </label>
			<input type="text" name="description" placeholder="DESCRIPTION"/><br />
		</div>
			<div class="inputs">
			<label for="price">Price: </label>
            <input type="number" name="price" placeholder="PRICE"/><br />
		</div>
			<div class="inputs">
			<label for="qty">Quantity: </label>
            <input type="number" name="qty" placeholder="QUANTITY"/><br />
		</div>
			<input type="submit" name="" value="Add Product" />
		</form>
    </div>
	<%- include('./partials/footer.ejs')%>
	</body>

</html>

