
.top {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    outline: 5px solid white;
    margin: 0 15px 15px 15px;
    font-size: 80px;
}
.top h1 {
    font-weight:bolder;
    color: white;
    margin: 0;
    padding: 0 100px 0 100px;
}

.selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    background-color: black;
    outline: 5px solid white;
    margin: 0 15px 15px 15px;
}
.product {
    width: 200px;
    height: 315px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 10px 10px 10px 10px;
    background-color: rgba(65, 65, 74, 255);
    border-radius: 10px;
    color: white;
    border: 5px solid white;
    transition-duration: 0.4s;
}
.product:hover {
    width: 210px;
    height: 315px;
    background-color: white;
    color: black;
    border: 5px solid rgba(65, 65, 74, 255);
}
.product:hover li{
    color: black;
}
.product:hover h3{
    color: black;
}
.product:hover img{
    border: 3px solid black;
}
a {
    text-decoration: none;
}
.product img {
    width: 100px;
    height: 100px;
}
